<!DOCTYPE html>
<html <%= common_html_attributes %>>
  <head>
    <%= render "layouts/common_head", default_title: setting["org_name"] %>
    <%= render "layouts/meta_tags" %>
    <%= raw setting["html.per_page_code_head"] %>
  </head>

  <body class="auth-page public">
    <%= render 'cookies_eu/consent_banner', link: '/privacy', target: '_blank' %>

    <%= raw setting["html.per_page_code_body"] %>

    <header class="ds_site-header  ds_site-header--gradient" role="banner">
      <div class="ds_wrapper">
          <div class="ds_site-header__content">
              <div class="ds_site-branding">
                <%= link_to root_path, accesskey: "0", class:"ds_site-branding__logo  ds_site-branding__link" do %>
            <%= image_tag(image_path_for("logo_small_black.png"), alt: setting["org_name"], class:"ds_site-branding__logo-image") %>
          <% end %>
                  <div class="ds_site-branding__title">
                      Demonstration
                  </div>
                  
              </div>
          </div>
      </div>
    </header>

  <div class="wrapper">

        <div class="row">
          
          <div class="medium-6 column hide-for-small-only">
      <%= image_tag(image_path_for("devise.png"), style:"margin-top: 50%; margin-bottom:50%;") %>
          </div>
     
      <div class="small-12 medium-6 column ">
       
            <div class="auth-form margin">
              <%= render "layouts/flash" %>

              <%= yield %>
            </div>
          </div>
        </div>
  </div>
    
    <div class="footer">
      <%= render Layout::FooterComponent.new %>
    </div>
  </body>
</html>
